<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../myStyles/navbar.css">
    <link rel="stylesheet" href="../myStyles/copyright.css">
    <link rel="stylesheet" href="../myStyles/brands.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body style="background-color: black;">
	<header>
		<div class="main">
		<div class="logo">
			<a href="../myData/index.html"><img src="../Images/logo2.png"></a>
		</div>
		
		 <ul>
		 <li class="active"><a href="../myData/index.html"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="../Components/Products.html">Products</a></li>
		 <li><a href="../Components/Services.html">Services</a></li>
		 <li><a href="../Components/Brands.html">Brands</a></li>
     <li><a href="../Components/Aboutus.html">About</a></li>
		 	 </ul>
		 	</div>
		 </li>
		</ul>
		 </div>
<br><br>
<br><br>



<div class="scontainer">
    <div class="sservice-wrapper">
        <div class="sservice">
            <h1>Our Brands <span></span></h1>
            <div class="scards">
                <div class="scard">
                    <a href="#"><img src="../Images/BMW logo.jpg" style="height: 200px; width: 245px;" alt="">
                    </a>  
                </div>
                <div class="scard">
                    <a href="#"><img src="../Images/suzuki logo.jpg"style="height: 200px; width: 250px;"  alt="">
                    </a>
                </div>
                <div class="scard">
                    <a href="#"><img src="../Images/yamaha logo2.jpg"style="height: 200px; width: 250px;"  alt="">
                    </a>
                    </div>
                <div class="scard">
                    <a href="#"><img src="../Images/honda logo2.jpg"style="height: 200px; width: 250px;"  alt="">
                    </a>
                    </div>
                <div class="scard">
                    <a href="#"><img src="../Images/triumph logo.jpg"style="height: 200px; width: 250px;"  alt="">
                    </a>
                    </div>
                <div class="scard">
                    <a href="#"><img src="../Images/kawasaki logo.jpg"style="height: 200px; width: 250px;"  alt="">
                    </a>
                    </div>
            </div>
        </div>
    </div>
  </div>

      <!----------------------------------- COPYRIGHT -------------------------------------------------------->
<section id="copyright">
    <footer>
      <div class="ccontainer">
        <div class="row">
          <div class="col" id="company">
            <h1><b>Glide</b>Gear<b1>.com</b1></h1>
            <p>Glide gear is a Two wheeler sales and service company
              <br>
              It smoothens your bike performance.
            </p>
            <div class="csocial">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
    
            <div class="col" id="services">
              <h3>Services</h3>
              <div class="links">
                <a href="">Oil Change</a>
            <a href="">Online Services</a>
            <a href="">Insurance Claim</a>
            <a href="">Accessories</a>
              </div>
            </div>
    
              <div class="col" id="useful-links">
                <h3>links</h3>
                <div class="links">
                  <a href="../Components/Products.html">Products</a>
                  <a href="../Components/Services.html">Services</a>
                  <a href="../Components/Brands.html">Brands</a>
                  <a href="../Components/Aboutus.html">About us</a>
                </div>
              </div>
                <div class="col" id="contact">
                  <br>
                  <br><h3>contact</h3>
                  <div class="contact-details">
                    <i class="fa fa-location"></i>
                    <p>Belagavi, Karnataka <br> INDIA</p>
                  </div>
                  <div class="contact-details">
                    <i class="fa fa-phone"></i>
                    <p>+91 8088670753 <br> INDIA</p>
                  </div>
                </div>
            </div>
            <p><center>Copyright@ Glidegear.com</center></p>
          </div>
    </footer>
    </section>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>