
<!doctype html>
<html lang="en">
  <head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../myStyles/products.css">
    <link rel="stylesheet" href="../myStyles/copyright.css">
    <link rel="stylesheet" href="../myStyles/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<!-------------------------------------------NAVBAR----------------------------------------------------->
<body style="background-color:#3498db">
	<header>
		<div class="main">
		<div class="logo">
			<a href="../myData/index.html"><img src="../Images/logo2.png"></a>
		</div>
		
		 <ul>
		 <li class="active"><a href="../myData/index.html"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="../Components/Products.html">Products</a></li>
		 <li><a href="../Components/Services.html">Services</a></li>
		 <li><a href="../Components/Brands.html">Brands</a></li>
     <li><a href="../Components/Aboutus.html">About</a></li>
		 	 </ul>
		 	</div>
		 </li>
		</ul>
		 </div>
<br><br>
<br><br>


<!--------------------------------------AVAILABLE BIKES------------------------------------------------->
      <div class="Heading">
        <br>
        <h1 style="margin-bottom: -80px;background-color:#001f3f;"><==== Available Bikes are ====> </h1>
        <br>
        <br>
      </div>

<section>
  <div class="small-container single-product">
    <br><br><br><br><br><br>
    <div class="row">
      <div class="col-2">
        <img src="../Images/busa white.png" height="350px" width="440px" id="ProductImg">
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="../Images/busa white.png" height="100px" width="150px" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../Images/busa speedo.png" height="100px" width="100px" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../Images/busa grey.png" height="100px" width="100px" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../Images/Black Hayabusa.jpg" height="100px" width="100px" class="small-img">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>HAYABUSA</h1>
        <h4>₹ 25,00,000.00</h4>
        <select>
          <option>Available color</option>
          <option>White</option>
          <option>Black</option>
          <option>Grey</option>
        </select>
        <input type="number" value="1">
        <a href="../Components/Buynow.html" class="btn2">Buy now</a>
        <h3>Product details<i class="fa fa-indent"></i></h3>
        <br>
        <p>The Hayabusa Gen3 is a sleek sportbike with a potent 1340cc engine, delivering a thrilling ride with advanced electronics. Its refined design and cutting-edge technology make it a top choice for enthusiasts seeking both speed and style.</div>
    </div>
  </div>
<br><br>
  <div class="small-container single-product">
  <br><br><br><br>
    <div class="row">
      <div class="col-2">
        <img src="../Images/cb350rs.png" height="350px" width="432px  " id="ProductImg2">
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="../Images/cb350rs.png" height="100px" width="100px" class="small-img2">
          </div>
          <div class="small-img-col">
            <img src="../Images/cb350rs1.png" height="100px" width="100px" class="small-img2">
          </div>
          <div class="small-img-col">
            <img src="../Images/cb350rs2.png" height="100px" width="100px" class="small-img2">
          </div>
          <div class="small-img-col">
            <img src="../Images/cbr350rsnew.jpg" height="100px" width="100px" class="small-img2">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>CBR350 RS</h1>
        <h4>₹ 2,16,000.00</h4>
        <select>
          <option>Available color</option>
          <option>Yellow</option>
          <option>Red</option>
          <option>WhitishRed</option>
        </select>
        <input type="number" value="1">
        <a href="../Components/Buynow.html" class="btn2">Buy now</a>
        <h3>Product details<i class="fa fa-indent"></i></h3>
        <br>
        <p>The Honda CBR350 is a sporty motorcycle equipped with a fuel-efficient 350cc engine, providing a blend of agility and performance. Its stylish design and versatile features make it an attractive choice for riders seeking a dynamic riding experience.</p>
      </div>
    </div>
  </div>
<br><br>
  <div class="small-container single-product">
    <br><br><br><br>
    <div class="row">
      <div class="col-2">
        <img src="../Images/triumph red.png" height="350px" width="100%" id="ProductImg3">
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="../Images/triumph red.png" height="100px" width="150px" class="small-img3">
          </div>
          <div class="small-img-col">
            <img src="../Images/triumph grey.png" height="100px" width="100px" class="small-img3">
          </div>
          <div class="small-img-col">
            <img src="../Images/triumph yellow.png" height="100px" width="100px" class="small-img3">
          </div>
          <div class="small-img-col">
            <img src="../Images/triumphNew.jpg" height="100px" width="100px" class="small-img3">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>Triumph</h1>
        <h4>₹ 10,50,000.00</h4>
        <select>
          <option>Available color</option>
          <option>Red</option>
          <option>grey</option>
          <option>Yellow</option>
        </select>
        <input type="number" value="1">
        <a href="../Components/Buynow.html" class="btn2">Buy now</a>
        <h3>Product details<i class="fa fa-indent"></i></h3>
        <br>
        <p>Triumph motorcycles are renowned for their classic British design and powerful performance, blending timeless aesthetics with cutting-edge technology. With a heritage dating back over a century, Triumph continues to be a symbol of craftsmanship and excellence in the world of motorcycling.</p>
      </div>
    </div>
  </div>
<br><br>
  <div class="small-container single-product">
      <br><br><br><br><br>
    <div class="row">
      <div class="col-2">
        <img src="../Images/10r.png" height="400px" width="100%" id="ProductImg4">
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="../Images/10r.png" height="100px" width="150px" class="small-img4">
          </div>
          <div class="small-img-col">
            <img src="../Images/10r (2).png" height="100px" width="100px" class="small-img4">
          </div>
          <div class="small-img-col">
            <img src="../Images/kawasakinew1.jpg" height="100px" width="100px" class="small-img4">
          </div>
          <div class="small-img-col">
            <img src="../Images/Kawasakinew2.jpg" height="100px" width="100px" class="small-img4">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>Kawasaki 10R</h1>
        <h4>₹ 17,00,000.00</h4>
        <select>
          <option>Available color</option>
          <option>Green</option>
          <option>Black</option>
        </select>
        <input type="number" value="1">
        <a href="../Components/Buynow.html" class="btn2">Buy now</a>
        <h3>Product details<i class="fa fa-indent"></i></h3>
        <br>
        <p>The Kawasaki Ninja ZX-10R is a high-performance sportbike known for its aggressive styling and potent 998cc engine, delivering a thrilling combination of speed and precision on the track. With advanced electronics and aerodynamics, it stands as a top choice for riders seeking a race-inspired riding experience.</p>
      </div>
    </div>
  </div>
<br><br>
  <div class="small-container single-product">
    <br><br><br><br><br>    
    <div class="row">
      <div class="col-2">
        <img src="../Images/mt09D.jpg" height="400px" width="100%" id="ProductImg5">
        <div class="small-img-row">
          <div class="small-img-col">
            <img src="../Images/mt09D.jpg" height="100px" width="150px" class="small-img5">
          </div>
          <div class="small-img-col">
            <img src="../Images/mt09W.png" height="100px" width="100px" class="small-img5">
          </div>
          <div class="small-img-col">
            <img src="../Images/mt09B.png" height="100px" width="100px" class="small-img5">
          </div>
          <div class="small-img-col">
            <img src="../Images/mt09Bl.png" height="100px" width="100px" class="small-img5">
          </div>
        </div>
      </div>
      <div class="col-2">
        <h1>MT-09</h1>
        <h4>₹ 11,50,000.00</h4>
        <select>
          <option>Available color</option>
          <option>Red</option>
          <option>Jet black</option>
          <option>Yamaha Blue</option>
        </select>
        <input type="number" value="1">
        <a href="../Components/Buynow.html" class="btn2">Buy now</a>
        <h3>Product details<i class="fa fa-indent"></i></h3>
        <br>
        <p>The Yamaha MT-09 is a dynamic naked bike featuring a torquey 847cc triple-cylinder engine, offering a spirited and agile ride. Renowned for its versatility, the MT-09 combines a distinctive design with advanced features, making it a popular choice for riders seeking an exhilarating and versatile motorcycle.</p>   
      </div>
    </div>
  </div>
  <br><br><br>
</section>

<!---------------------------------------Bike Script---------------------------------------------------->
      
<script>
  var ProductImg = document.getElementById("ProductImg");
  var SmallImg = document.getElementsByClassName("small-img");

  SmallImg[0].onclick = function() {
  ProductImg.src = SmallImg[0].src;
  }
  SmallImg[1].onclick = function() {
  ProductImg.src = SmallImg[1].src;
  }
  SmallImg[2].onclick = function() {
  ProductImg.src = SmallImg[2].src;
  }
  SmallImg[3].onclick = function() {
  ProductImg.src = SmallImg[3].src;
  }
</script>

<script>
  var ProductImg2 = document.getElementById("ProductImg2");
  var SmallImg2 = document.getElementsByClassName("small-img2");

  SmallImg2[0].onclick = function() {
    ProductImg2.src = SmallImg2[0].src;
  }
  SmallImg2[1].onclick = function() {
    ProductImg2.src = SmallImg2[1].src;
  }
  SmallImg2[2].onclick = function() {
    ProductImg2.src = SmallImg2[2].src;
  }
  SmallImg2[3].onclick = function() {
    ProductImg2.src = SmallImg2[3].src;
  }
</script>

<script>
  var ProductImg3 = document.getElementById("ProductImg3");
  var SmallImg3 = document.getElementsByClassName("small-img3");

  SmallImg3[0].onclick = function() {
    ProductImg3.src = SmallImg3[0].src;
  }
  SmallImg3[1].onclick = function() {
    ProductImg3.src = SmallImg3[1].src;
  }
  SmallImg3[2].onclick = function() {
    ProductImg3.src = SmallImg3[2].src;
  }
  SmallImg3[3].onclick = function() {
    ProductImg3.src = SmallImg3[3].src;
  }
</script>

<script>
  var ProductImg4 = document.getElementById("ProductImg4");
  var SmallImg4 = document.getElementsByClassName("small-img4");

  SmallImg4[0].onclick = function() {
    ProductImg4.src = SmallImg4[0].src;
  }
  SmallImg4[1].onclick = function() {
    ProductImg4.src = SmallImg4[1].src;
  }
  SmallImg4[2].onclick = function() {
    ProductImg4.src = SmallImg4[2].src;
  }
  SmallImg4[3].onclick = function() {
    ProductImg4.src = SmallImg4[3].src;
  }
</script>

<script>
  var ProductImg5 = document.getElementById("ProductImg5");
  var SmallImg5 = document.getElementsByClassName("small-img5");

  SmallImg5[0].onclick = function() {
    ProductImg5.src = SmallImg5[0].src;
  }
  SmallImg5[1].onclick = function() {
    ProductImg5.src = SmallImg5[1].src;
  }
  SmallImg5[2].onclick = function() {
    ProductImg5.src = SmallImg5[2].src;
  }
  SmallImg5[3].onclick = function() {
    ProductImg5.src = SmallImg5[3].src;
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      

<!----------------------------------- COPYRIGHT -------------------------------------------------------->
<section id="copyright">
  <footer>
    <div class="ccontainer">
      <div class="row">
        <div class="col" id="company">
          <h1><b>Glide</b>Gear<b1>.com</b1></h1>
          <p>Glide gear is a Two wheeler sales and service company
            <br>
            It smoothens your bike performance.
          </p>
          <div class="csocial">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
  
          <div class="col" id="services">
            <h3>Services</h3>
            <div class="links">
              <a href="">Oil Change</a>
            <a href="">Online Services</a>
            <a href="">Insurance Claim</a>
            <a href="">Accessories</a>
            </div>
          </div>
  
            <div class="col" id="useful-links">
              <h3>links</h3>
              <div class="links">
                <a href="../Components/Products.html">Products</a>
                  <a href="../Components/Services.html">Services</a>
                  <a href="../Components/Brands.html">Brands</a>
                  <a href="../Components/Aboutus.html">About us</a>
              </div>
            </div>
              <div class="col" id="contact">
                <br>
                <br><h3>contact</h3>
                <div class="contact-details">
                  <i class="fa fa-location"></i>
                  <p>Belagavi, Karnataka <br> INDIA</p>
                </div>
                <div class="contact-details">
                  <i class="fa fa-phone"></i>
                  <p>+91 8088670753 <br> INDIA</p>
                </div>
              </div>
          </div>
          <p><center>Copyright@ Glidegear.com</center></p>
        </div>
        </footer>
        </section>
        </header>
      </body>
      </html>
